html {
  background-color: #e2e8a0;
}

.fro-guy-box {
	margin: 1rem 1rem 1rem 1rem;
}

.fro-hair {
	border-radius: 50% 50%  50% 50%;
	background-color: black;
	width: 20rem;
	height: 21rem;
	background-image: linear-gradient(black 75%, #707070 );
}

.fro-head {
	width: 12rem;
	height: 15rem;
	background-color: brown;
	border-radius: 50%;
	margin-top: -14rem;
	margin-left: 4rem;
}

.glasses {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	margin-top: -10rem;
	margin-left: 4.3rem;
}

.lens {
 width: 5.2rem;
 background-color: black;
 height: 4rem;
 border-radius: 10%;
background-image: linear-gradient(45deg, black 20%, #707070 , black 75% );



}

.glasses-bridge {
	margin-top: .2rem;
	width: 1rem;
	border-top: 5px solid black;

}

.nose {
	width: 2rem;
	height: 3rem;
	border-bottom: 5px solid black;
	border-radius: 20%; 
	margin-top: 1.5rem;
	margin-left: -6.8rem;
}

.mouth {
	width: .5rem;
	height: 1rem;
	background-color: black;
	margin-top: 8rem;
	margin-left: -1.3rem;
	border-radius: 50%;
}

.smoke-ring {
	width: .2rem;
	height: .2rem;
	border: 4px solid grey;
	border-radius: 50%;
	margin-top: 8.2rem;
	margin-left: -.4rem;
	animation: blow-ring 3s infinite
}

@keyframes blow-ring {
	25% {margin-left: -.4rem;}

	100% { margin-left:  10rem; width: 3rem; height: 3rem; border: 4px solid transparent;}
}